@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: 0.2s;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.check-icon::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background-color: hsl(236, 33%, 92%);
  transition: 1s;
}

.dark .check-icon::before {
  background-color: hsl(237, 14%, 26%);
}

.check-icon::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background-color: white;
  transition: 0.2s;
}

.dark .check-icon::after {
  background-color: hsl(235, 24%, 19%);
}

li:hover .check-icon:not(.check-icon[data-completed='true'])::before {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.check-icon[data-completed='true']::after {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.check-icon[data-completed='true'] {
  background-image: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
}

.check-icon[data-completed='true']::before {
  background: transparent;
}

body {
  background: url(/images/bg-mobile-light.jpg) top center/contain no-repeat, hsl(236, 20%, 97%);
}

.dark body {
  background: url(/images/bg-mobile-dark.jpg) top center/contain no-repeat, hsl(240, 20%, 12%);
}

@media screen and (min-width: 600px) {
  body {
    background-image: url(/images/bg-desktop-light.jpg);
    background-color: hsl(236, 20%, 97%);
  }

  .dark body {
    background-image: url(/images/bg-desktop-dark.jpg);
    background-color: hsl(240, 20%, 12%);
  }
}

@media screen and (max-width: 768px) {
  main .sort-items {
    width: 83.33vw;
    position: absolute;
    left: 0;
    top: 3.5rem;
  }
}
